<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- The title of the webpage -->
     <title><%=appName%></title>
     <!-- Link to the external CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>  

    <!-- Navigation bar with links to different sections of the website -->
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/register">Register</a>
        <a href="/login">Sign In</a>
        <a href="/account">Account</a>
        <a href="/courses">Video Section</a>
        <a href="/search-result">Search</a>
        <a href="/contact">Contact</a>
    </nav> 

    <!-- Main heading of the webpage-->
     <h1>Welcome to <%=appName%> An E-learning Website</h1>

     <!-- Buttons linking to different sections of the website  -->
     <a href="/register" class="btn btn-one">Get Started</a>
    <a href="/search-result" class="btn">Browse Courses</a>
    <a href="/courses" class="btn">Video Section</a> 
  
    <!-- Subheading of the webpage -->
     <h2>Your gateway to knowledge and growth.</h2> 
    
    <!-- Adding an image above the form -->
    <a href="/video/MAKE $150 VERY EASY ON FIVERR WITH NO SKILL.mp4">
      <img src="/image/easy.jpg" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>

    <a href="/video/How To Install Wordpress Plugin Manually _ Wordpress Plugins Install Tutorial 2021.mp4">
      <img src="/image/plug in.webp" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>

    <a href="/video/How to Make Money by Copying and Pasting on Google _ Copy and Paste Earn Money Online.mp4">
      <img src="/image/paste.webp" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>

    <a href="/video/How To Add Widget On Wordpress in 2021 __ Widget Adding Process For Beginners.mp4.mp4">
      <img src="/image/widget.webp" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>

    <a href="/video/HOW TO SETUP YOAST SEO FOR BEGINNERS.mp4">
      <img src="/image/yoast seo.webp" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>

    <a href="/video/How to Be Successful on Etsy _ How to Start an Online T-Shirt Business in 2021 for Beginners.mp4">
      <img src="/image/tshirt.jpg" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>

    <a href="/video/HOW TO MAKE MONEY ON FIVERR BY MAKING YOUTUBE THUMBNAILS.mp4">
      <img src="/image/thumbnail.jpg" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>

    <a href="/video/HOW TO MAKE MONEY ON UPWORK.mp4">
      <img src="/image/upwork.jpg" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>

    <a href="/video/HOW TO RE- UPLOAD YOUTUBE VIDEO.mp4">
      <img src="/image/upload.webp" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>

    <a href="/video/HOW TO SETUP YOAST SEO FOR BEGINNERS.mp4">
      <img src="/image/yoast seo.webp" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>

    <a href="/video/HOW TO SETUP RANK MATHS SEO TUTORIAL.mp4">
      <img src="/image/rank.webp" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>
    
    <a href="/video/HOW TO SETUP WORDFENCE SECURITY PLUGIN FOR FREE.mp4">
      <img src="/image/wordfence.webp" alt="Click to watch video" class="clickable-image" style="display: inline-block; width: 30%;" />
    </a>

    <!-- Footer section with copyright information and additional navigation links -->
     <footer>
      <p>&copy; <%= new Date().getFullYear() %> Harper eLearning Platform. All rights reserved.</p>
      <nav>
        <a href="/about">About</a>
        <a href="/register">Join</a>
        <a href="/contact">Contact</a>
      </nav>
    </footer>
  </body>
</html> 

