<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/register">Register</a>
        <a href="/login">Sign in</a>
        <a href="/account">Account</a>
        <a href="/videos">Video Section</a>
        <a href="/search-result">Search</a>
        <a href="/contact">Contact</a>
    </nav>

    <h1>Video tutorial on how to make money. Watch it to learn tips and tricks for success on the platform.</h1>
    <div class="video-page">
      <iframe width="300" height="200" src="https://www.youtube.com/embed/wl_wDzzFhI0?si=4CUQ91p7dTlgm-ls" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
      clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy=
      "strict-origin-when-cross-origin" allowfullscreen></iframe>

      <iframe width="300" height="200" src="https://www.youtube.com/embed/OB78_bW8kEM?si=VzjgSVM-wirE58XY" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
      clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy=
      "strict-origin-when-cross-origin" allowfullscreen></iframe>

      <iframe width="300" height="200" src="https://www.youtube.com/embed/kS4lPtY0AKg?si=Vd4cuq1m92RD1NHa" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
      clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy=
      "strict-origin-when-cross-origin" allowfullscreen></iframe>

      <iframe width="300" height="200" src="https://www.youtube.com/embed/qKfaf_rwg7U?si=xEvW0jFIuaXyZgJN" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
      clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy=
      "strict-origin-when-cross-origin" allowfullscreen></iframe>

      <iframe width="300" height="200" src="https://www.youtube.com/embed/EbyVDtPsa44?si=sCgjotHoYQ2JW-LI" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
      clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy=
      "strict-origin-when-cross-origin" allowfullscreen></iframe>

      <iframe width="300" height="200" src="https://www.youtube.com/embed/dcWWIclIHDY?si=yoom8zukdx-zMI7J" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
      clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy=
      "strict-origin-when-cross-origin" allowfullscreen></iframe>

      <iframe width="300" height="200" src="https://www.youtube.com/embed/qCdSNONlIl8?si=8azh1bP4hTFDaNlV" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
      clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy=
      "strict-origin-when-cross-origin" allowfullscreen></iframe>

      
      <iframe width="300" height="200" src="https://www.youtube.com/embed/AejOMMUyYiQ?si=AZyJ0bSjZ3ceA512" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
      clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy=
      "strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
  
    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Harper eLearning Platform. All rights reserved.</p>
        <nav>
            <a href="/about">About</a>
            <a href="/register">Join</a>
            <a href="/contact">Contact</a>
        </nav>
    </footer>
</body>
</html>
